:root{
    /* Main Colors */
    --main-clr: #ffff00;
    --clr2: #7E7E01;
    --clr3: #FEFF83;
    --clr4: #99994E;
    --clr5: #555509;
    --clr6: #858603;
    --clr7: #FEFF13;
    --clr8: #6D6D0D;
    --clr9: #343400;
    --shadow-clr1: rgba(253, 254, 2, 0.75);
    --shadow-clr2: rgba(255, 183, 28, 0.75);
    --shadow-clr3: rgba(253, 254, 2, 0.26);
    --shadow-clr4: rgba(253, 254, 2, 0.35);
    --shadow-clr5: rgba(253, 254, 2, 0.08);

    /* Background Colors */
    --bg-clr1: rgba(253, 254, 2, 0.25);
    --bg-clr2: rgba(253, 254, 2, 0.05);

    /* Test Drive */
    --testdrive-label-color: rgba(253, 254, 1, 0.65);   
    --testdrive-timer-color: #FFFFFF;   
    --testdrive-glow-color: rgba(255, 255, 255, 0.0);    
}
