@font-face {
    font-family: 'Regular';
    src: url(../fonts/Arame-Regular.ttf);
}

@font-face {
    font-family: 'Medium';
    src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: 'Brothership';
    src: url(../fonts/Brothership.ttf);
}